

/*global*/
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}
ul{
  list-style: none;
  padding:0;
  margin:0;
}
header{
  background:#181818;
  color:#778899;
  padding-top:30px;
  min-height:100px;
  
}

/*header*/
header a{
  color:#FFA500;
  text-decoration: none;
  font-size: 16px;
  display:block;
}
ul li:hover
{
  background-color: grey;
}
ul ul
{
  display: none;
}
ul li:hover ul
{
  display: block;
}
.loginbox{
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top:65%;
  left: 50%;
  position: absolute;
  transform:translate(-50%,-50%);
  box-sizing: border-box; 
  padding: 70px 30px;
}
.loginbox p
{
  margin: 0px;
  padding: 0px;
  font-weight: bold;

}
.loginbox input
{
  width: 100%;
  margin-bottom: 20px;

}
.loginbox input[type="text"] ,input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color:#fff;
  font-size: 16px;
}
.loginbox input[type="submit"]
{
  border: none;
  outline:none;
  height: 40px;
  background: #fb2525;
  color: #fff;
  font-size:18px;
border-radius: 20px;

}
.loginbox input[type="submit"]:hover
{
  cursor:pointer;
  background: #ffc107;
  color: #000;
}
.loginbox a
{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}
h3{
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 22px ;
}
.loginbox a:hover
{
  color:#ffc107;
}
.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top:-50px;
  left:calc(50% - 20%);
}

header ul li{
  background:black;
  float:left;
  /*padding: 0 15px 0 15px;*/
  border:1px solid black;
  height:30px;
  width: 100px;
  text-align: center;
  line-height: 30px;
}
header #branding{
  font-family: OCR A Std, monospace;
  float:left;
}
header #branding h1{
  margin:0;
  margin-top:-12px;
}
header nav{
  float:right;
  margin-top:12px;
  margin-left: 600px;
  display:block;
}
header .highlight{
   color: #778899;
   font-weight: bold;
   font-size: 45px;
}
header .current a{
   color:	#FF4500;
   font-weight: bold;
}
header a:hover{
  color:#FF8C00;

}
body
{
  background-color: black;
}
#video
{
  width:100%;
  height:50px;

}
footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background: linear-gradient(to left, #778899 ,  #000000);
  text-align:center;
}






.header {
    background: #FF4500;
    padding:  25px 10px;
    color:  whitesmoke;
    margin-bottom: 70px;
}


}
.form_2{width:480px;
background: whitesmoke;
box-shadow: 5px 5px 5px rgba(0,0,0,.1), -5px -5px 15px rgba(0,0,0,.2);
}
img
{
  border-radius: 20px;
  border-color: black;
  border-width: 20px;
}              
